PORT=4000
CORS_ORIGIN=http://localhost:5173

PG_URL=postgresql://admin:password@localhost:5432/ciphersqlstudio_app
PG_STUDENT_URL=postgresql://student_user:student_password@localhost:5432/ciphersqlstudio_app
MONGO_URL=mongodb://admin:password@localhost:27017/ciphersqlstudio_mongo?authSource=admin

# replace with your actual API key for AI hints
LLM_API_KEY=
LLM_PROVIDER=gemini
